@CHARSET "ISO-8859-1";

html
{
	width: 1280px;
	margin:0 auto;
}

/*
	header
*/
#menu_icon_img
{
	width: 60px;
	height: 40px;

}

#person_icon_img_1
{

	width: 60px;
	height: 60px;
	padding-left:20px; 

}

#home_icon_img
{
	width: 40px;
	height: 40px;
	float: right;

}

#nav_icon
{
	widht:120px;
	height:120px;
	margin-left:560px;
}

/*
	Slider
*/

#logo
{
	width:300px;
	height:94px;
	float:left;
	padding-top:60px;
	padding-left:480px;
	/*padding-top:60px;
	padding-right:10px;
	*/
}

#fb-logo
{
	widht:200px;
	height:42px;
	float:right;
	padding-right: 50px;	
}

#background_image
{
	width: 1280px;
}

.slider
{
	background-image: url("image/leaves ver 2.jpg");
	margin-top: -45px;
	height: 300px;
}

.slider h1
{
	font-family:Roboto Condensed;
	font-size: 60px;
	color: #ff9900;
	padding-top: 160px;
	text-align: center;
}

.slider h3
{
	font-family: Roboto Condensed;
	color: #ff9900;
	margin-top:0 auto;
	text-align: center;
}

.content h1
{
	font-family: Roboto Condensed;
	padding-left: 20px;
	text-align: center;
}

.content a
{
	text-decoration:none;

}



#sub_image
{
	width:290px;
	height:274px;
	margin-top:200px;
	margin-left:483px;
	
}


#sub_content a
{
	text-decoration:none;
}

/*
	Menu CSS
*/
p
{
	font-family: Roboto Condensed;
	font-size: 20px;
	text-align:center;

}

ul a
{
	text-decoration: none;
	color: white;
	font-family: Roboto Condensed;
}

a#menu
{
  text-decoration:none;
  color:black;
}

a#side
{	
    text-decoration:none;
    color:grey;
    font-weight: bold;
}

a#side_login
{	
    text-decoration:none;
    color:grey;
    font-weight: bold;
}

a#side:hover,#side_login:hover 
{
  color:#ff9900;
}

body
{
    overflow-x:hidden;
    position:relative;
    left:0;
}

.menu-open
{
    left:250px;
}

.menu-open .menu-side
{
    left:0;
}

.menu-side,
body
{
    -webkit-transition:left 0.2s ease;
    -moz-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

.menu-side
{
   	background : #333;
    color:#fff;
    position: fixed;
    top:0;
    left: -251px;
    width:230px;
    height:100%;
    padding:10px;
}



/*
	Social media
*/
.socmed_icon 
{
	margin-left:430px;
}

#fb_icon
{
	width: 100px;
	height: 96px;
	padding-right: 50px;

}

#twitter_icon
{
	width: 100px;
	height: 96px;
	padding-right: 50px;
	
}

#youtube_icon
{
	width: 100px;
	height: 96px;
	padding-right: 50px;

}

.socmed h2
{	
	margin-top:300px;
	text-align:center;
	font-family: Roboto Condensed;
}

/*
	Footer 
*/
#footer
{
	background: #DCDCDC;
	width: 1280px;
	height:50px;
}

#footer_content
{
		font-family: Roboto Condensed;
		text-align:center;
		padding-top:20px;
}


