@CHARSET "ISO-8859-1";

html
{
	width: 1280px;
	margin:0 auto;
}

/*
	header
*/
#menu_icon_img
{
	width: 60px;
	height: 40px;

}

#person_icon_img_1
{

	width: 60px;
	height: 60px;
	padding-left:20px; 

}

#home_icon_img
{
	width: 40px;
	height: 40px;
	float: right;

}

#nav_icon
{
	widht:120px;
	height:120px;
	margin-left:560px;
}

/*
	Slider
*/

#logo
{
	width:300px;
	height:94px;
	float:left;
	padding-top:60px;
	padding-left:480px;
	/*padding-top:60px;
	padding-right:10px;
	*/
}

#fb-logo
{
	widht:200px;
	height:42px;
	float:right;
	padding-right: 50px;	
}

#background_image
{
	width: 1280px;
}

.slider
{
	background-image: url("image/leaves ver 2.jpg");
	margin-top: -45px;
	height: 300px;
}

.slider h1
{
	font-family:Roboto Condensed;
	font-size: 60px;
	color: #ff9900;
	padding-top: 160px;
	text-align: center;
}

.slider h3
{
	font-family: Roboto Condensed;
	color: #ff9900;
	margin-top:0 auto;
	text-align: center;
}


.content
{
	margin-left:200px;
}
.content h1
{
	font-family: Roboto Condensed;
	padding-left: 10px;
}

#sub_image
{
	width:290px;
	height:274px;
	margin-top:100px;
	float:left;	
}

#sub_content 
{
	display:inline-block;
	vertical-align:top;
	margin-left:120px;
	margin-top:60px;
	
}

#par_sub_content
{
	display:inline-block;
	margin-top:100px;
}

#par_sub_content h1
{
	padding-left:30px;
	font-size: 36px;
}

#par_sub_content p
{
	padding-left:30px;

}

#sub_content a
{
	text-decoration:none;
}


#sub_content_image
{
	display:inline-block;
	vertical-align:top;
	margin-left:30px;
	margin-top:10px;
	
}

#par_sub_content_image
{
	display:inline-block;
	font-size: 20px;
	
}

#par_sub_content table
{
	margin-left:50px;
	font-size: 36px;
}

/*
	Table
*/
table
{
	  
}

table h2
{
	font-family: Roboto Condensed;
	color: #ff9900;
}

table h3
{
	font-family: Roboto Condensed;
	
}



/*
	Content 2
*/

.content_2 h1
{
	margin-top:100px;
	font-family: Roboto Condensed;
	padding-left: 10px;
	
}

#donate_icon
{
	widht:130px;
	height:41px;
	padding-left: 10px;
}

#sign_in_icon
{
	widht:130px;
	height:41px;
	padding-left: 10px;
}

a
{
	text-decoration:none;
}





/*
	Menu CSS
*/
p
{
	font-family: Roboto Condensed;
	font-size: 20px;
	padding-left: 10px;
}

ul a
{
	text-decoration: none;
	color: white;
	font-family: Roboto Condensed;
}

a#menu
{
  text-decoration:none;
  color:black;
}

a#side
{	
    text-decoration:none;
    color:grey;
    font-weight: bold;
}

a#side_login
{	
    text-decoration:none;
    color:grey;
    font-weight: bold;
}

a#side:hover,#side_login:hover 
{
  color:#ff9900;
}

body
{
    overflow-x:hidden;
    position:relative;
    left:0;
}

.menu-open
{
    left:250px;
}

.menu-open .menu-side
{
    left:0;
}

.menu-side,
body
{
    -webkit-transition:left 0.2s ease;
    -moz-transition: left 0.2s ease;
    transition: left 0.2s ease;
}

.menu-side
{
   	background : #333;
    color:#fff;
    position: fixed;
    top:0;
    left: -251px;
    width:230px;
    height:100%;
    padding:10px;
}

/*
	Map
*/
#map-canvas
{
	width: 1265px;
	height: 600px;
	
}

#map h2
{
	font-family:Quicksand;
	text-align: center;
	color: #de2c25;
	font-size:32px;
}
#map h1
{
	font-family:Quicksand;
	text-align: center;
	color: #de2c25;
	font-size:40px;
}

#map h3
{
	font-size:72px;
	font-family:Quicksand;
	color: #de2c25;
	margin-bottom:-20px;
	padding-left: 10px;
	
}

#map h4
{
	font-size:20px;
	font-family:Quicksand;
	color: #de2c25;
	margin-bottom:-20px;
	padding-left: 10px;
	
}

#map
{
	margin-top :200px;

}


/*
	Social media
*/
.socmed_icon 
{
	margin-left:430px;
}

#fb_icon
{
	width: 100px;
	height: 96px;
	padding-right: 50px;

}

#twitter_icon
{
	width: 100px;
	height: 96px;
	padding-right: 50px;
	
}

#youtube_icon
{
	width: 100px;
	height: 96px;
	padding-right: 50px;

}

.socmed h2
{	
	margin-top:300px;
	text-align:center;
	font-family: Roboto Condensed;
}

/*
	Footer 
*/
#footer
{
	background: #DCDCDC;
	width: 1280px;
	height:50px;
}

#footer_content
{
		font-family: Roboto Condensed;
		text-align:center;
		padding-top:20px;
}

